body {
    background-color: #e5e5e5;
}

.widget-ds {
    height: 100%;
}
.game {
    min-height: 600px;
    border: solid 2px #c82a0e;
    border-radius: 15px;
    color: white;
}

#info{
    color: white;
    background-color: grey;
    border-radius: 100px;
    border: solid 1px black;
    height: 40px;
    width: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 5px;
}
#info:hover {
    cursor: pointer;
    background-color: red;
    transition: all 0.5s ;
}

.help-letter-container {
    border: 1px grey solid;
    border-radius: 5px;
    align-items: center;
    margin: 5px;
    padding: 3px;
    height: 40px;
    width: 40px;
}

.span-correct {
    color: red;
}

.span-exists {
    color: yellow;
}

.span-wrong {
    color: blue;
}

.play-btn {
    font-size: 85px;
    padding: 40px 60px;
    font-family: 'Poller One', cursive;
    border: none;
    border-radius: 15px;
    background: radial-gradient(circle, rgb(230, 43, 9) 0%, rgb(200, 42, 14) 100%);
}

.play-btn:hover {
    background: radial-gradient(circle, rgb(200, 42, 14) 70%, rgb(140, 40, 24) 95%);
}

#attempt-count {
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0;
}

.letter {
    min-height: 70px;
    min-width: 70px;
    max-width: 70px;
    background-color: #6b9aeb;
    color: white;
    margin: 10px;
    border: 0.5px black solid;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
}

.correct {
    background-color: red;
}

.exists {
    background-color: yellow;
}

.wrong {
    background-color: blue;
}