*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
}

main{
    height: 80svh;
}

section{
    height: 100%;
    margin: 50px 25px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 10fr 7fr;
    grid-gap: 25px;
}

.leaderboard{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    border: solid 2px #c82a0e;
    border-radius: 10px;
}

.widget{
    grid-column: 1;
    grid-row: 2;
}

.widget-ds{
    height: 100%;
    width: 100%;
}

.game{
    grid-column: 2;
    grid-row: 1 / -1;
    border: solid 1px black;
    margin: 0 25px;
    border: solid 2px #c82a0e;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.play-btn{
    font-size: 85px;
    padding: 40px 60px;
    font-family: 'Poller One', cursive;
    border: none;
    border-radius: 15px;
    background: radial-gradient(circle, rgb(230,43,9) 0%, rgb(200,42,14) 100%);
}

.play-btn:hover{
    background: radial-gradient(circle, rgb(200,42,14) 70%, rgb(140,40,24) 95%);
} 
