nav{
    background: linear-gradient(90deg, rgb(208,0,0) 56%, rgb(106,4,15) 100%);
    height: 100px;
}

nav p{
    color: whitesmoke;
    font-weight: bold;
    font-size: 21px;
}

nav li>a>p{
    margin-top: 15px;
    border-bottom: solid .25px whitesmoke ;
    padding: 5px;
}

nav li>a>p:hover{
    
}

#logo {
    border-radius: 100px;
    margin-left: 15px;
}

.icons-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.icons-layout p{
    margin-top: 5px;
}